@import url('./style/_var.scss');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/// fonts 
@font-face {
    font-family: 'Proxima-Nova';
    src: url('../fonts/ProximaNovaFont.otf');
    font-weight: 400;
}


// vars
.container {
    width: 1200px;
    max-width: 100%;
    margin: auto;
}


.header__nav {
    display: flex;
    align-items: center;
    padding: 20px 0px;
    .header__nav-logo {
        margin-right: 37px;
    }
    .header__nav-list {
        display: flex;
        align-items: center;
        gap: 40px;
        .nav__list-item {
            display: flex;
            align-items: center;
            .list__item-link {
                color: #3E3E3E;
                font-family: 'Proxima-Nova', sans-serif;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
            &.popup-item {
                margin-left: 64.5px;
            }
        }
    }
}

